body {
    overflow: hidden;
}

.messanger {
    display: flex;

    height: 100%;
}

.messanger__left {
    max-width: 310px;
    width    : 100%;
    height   : inherit;

    background-color: #F8F7FF;
    border-right    : 1px solid #EAEAEA;

    box-sizing: border-box;
}

.messanger__left-header {
    height: 81px;
}

.messanger__profile-btn {
    justify-content: flex-end;

    width : 100%;
    height: 24px;

    padding-top: 12px;

    color: #6C63FF;

    font-weight: 500;
    font-size  : 12px;
    line-height: 12px;
}

.messanger__profile-btn-span {
    margin-top: -1px;
}

.messanger__search {
    margin: 12px 10px 0 10px;
}

.messanger__chat {
    display       : flex;
    flex-direction: column;

    width : 100%;
    height: 100%;
}

.messanger__chat-header {
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    height    : 81px;
    min-height: 81px;

    padding: 0 16px 0 30px;

    border-bottom   : 1px solid #EAEAEA;
    background-color: #F8F7FF;
}

.messanger__chat-header-avatar {
    width : 60px;
    height: 60px;
}

.messager__chat-main {
    width : 100%;
    height: 100%;

    background: url('/assets/images/chat-bg.jpg');
}

.messanger__chat-footer {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    height: 70px;

    padding: 0 34px;

    border-top      : 1px solid #EAEAEA;
    background-color: #F8F7FF;
}

.messanger__chat-input {
    width : 100%;
    height: 32px;

    background: #ECE9FA;

    padding: 0 36px;
    margin : 0 12px;

    border       : none;
    border-radius: 30px;

    outline: none;

    font-family: inherit;
    font-size  : 16px;
    color      : var(--form-color-normal);
}

.messanger__chat-input::placeholder {
    font-size  : 12px;
    line-height: 12px;

    font-size  : 14px;
    font-weight: 500;

    color: #6C63FF;
}