<main id="root" class="container container_center">
    <div class="error-page noselect">
        <p class="error-page__code">500</p>
        <p class="error-page__description">SORRY...</p>
        <p class="error-page__description">INTERNAL SERVER ERROR</p>
    </div>
</main>