.chat-management {
  padding: 30px;
  position: relative;

  width: 288px;

  &__divider {
    left: 0;
    position: absolute;

    width: 100%;
    height: 7px;

    margin-top: 35px;

    background-color: var(--settings-divider-color);
  }

  &__divider-hidden {
    visibility: hidden;

    margin-bottom: 64px;
  }

  &__create-btn {
    margin-top: 24px;
  }
}
