<div class="chat-management">
    {% if canChangeName %}
        <ng-container data-componentsids="{{chatNameId}}"></ng-container>

        <div class="chat-management__divider"></div>
        <div class="chat-management__divider-hidden"></div>
    {% endif %}

    <ng-container data-componentsids="{{editChatUsersId}}"></ng-container>

    <div class="chat-management__create-btn">
        <ng-container data-componentsids="{{submitButtonId}}"></ng-container>
    </div>
</div>