<li class="chat-item" onclick="click">
    <div class="chat-item__avatar">
        <ng-container data-componentsids="{{avatarComponentId}}"></ng-container>
    </div>
    <div class="chat-item__text-wrapper">
        <p class="chat-item__name">{{chat.title}}</p>
        <p class="chat-item__text">{{chat.text}}</p>
    </div>
    <div class="chat-item__extra-info">
        <span class="chat-item__date">{{chat.date}}</span>
        {% if chat.numberOfUnreadMessages %}
            <div class="badge">{{chat.numberOfUnreadMessages}}</div>
        {% endif %}
    </div>
</li>