<main class="auth-b">
    <div class="auth-b__gradient">
        <div class="auth-b__container container">
            <div class="auth-b__form-container container container_center">
                <h1 class="auth-b__h1 h1">Login</h1>

                <div class="auth-b__form">
                    <ng-container data-componentsids="{{loginFormId}}"></ng-container>
                </div>

                <div class="auth-b__sign-up-link">
                    <span>Or</span>
                    <a class="link" href="/sign-up" onClick="goToSignUpPage">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</main>