<div class="modal">
    <div class="modal__container">
        {{name}}
        <div class="settings" id="editInformationBlock">
            {% set isSettingsListBlock = currentBlock === settingsViewingTypes.SETTINGS_LIST %}
            {% set isEditInformationBlock = currentBlock === settingsViewingTypes.EDIT_INFORMATION_BLOCK %}
            {% set isChangePasswordBlock = currentBlock === settingsViewingTypes.CHANGE_PASSWORD_BLOCK %}

            <ng-container data-componentsids="{{settingsHeaderId}}"></ng-container>

            <div class="settings__brief-information">
                <ng-container data-componentsids="{{briefInformationComponentId}}"></ng-container>
            </div>

            {% if isSettingsListBlock %}
                <div class="settings__settings-list">
                    <ul class="settings-list">
                        {% for item in renderingSettingsList %}
                            <li class="settings-list__li">
                                <button class="settings-list__button" data-value="{{item.value}}" onclick="showBlock(value)">
                                    <div class="settings-list__icon">
                                        {% include item.iconTemplate %}
                                    </div>
                                    <span class="settings-list__span">{{item.title}}</span>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="settings__logout-wrapper">
                    <button class="settings__logout-btn" onclick="logout">Logout</button>
                </div>
            {% endif %}

            {% if isEditInformationBlock %}
                <div class="settings__divider"></div>

                <div class="settings__form">
                    <ng-container data-componentsids="{{editingProfileFormId}}"></ng-container>
                </div>
            {% endif %}

            {% if isChangePasswordBlock %}
                <div class="settings__divider"></div>

                <div class="settings__form">
                    <ng-container data-componentsids="{{changePasswordFormId}}"></ng-container>
                </div>
            {% endif %}
        </div>

    </div>
    <div class="modal__overlay"></div>
</div>