<div class="avatar">
    {% if avatarSrc %}
        <img src="{{avatarSrc}}" alt="User avatar" class="avatar__image"/>
    {% endif %}
    {% if canEdit %}
        <button class="avatar__change-btn btn-icon" onClick="upload">
            <div class="avatar__icon">
                {% include 'icons/photo.tmpl.njk' %}
            </div>
        </button>
    {% endif %}
</div>