{% macro btn(text = '', type = 'submit') %}
    <button class="btn btn_size_normal" type="{{type}}">{{text}}</button>
{% endmacro %}

<button class="btn btn_size_normal" type="submit">{{text}}</button>