{% macro input(name = '', type = 'text', label = '', placeholder = '', iconTemplate = '', withPaddingTop = false) %}
    {% set inputPaddingTopClass = '' %}

    {% if withPaddingTop %}
        {% set inputPaddingTopClass = 'input-b_default-pd_top' %}
    {% endif %}

    <div class="input-b {{inputPaddingTopClass}}">
        <label class="input-b__label">
            <span class="input-b__span">{{label}}</span>

            <div class="input-b__line">
                <input type="{{type}}" name="{{name}}" class="input-b__input" placeholder="{{placeholder}}" required="required">

                {% if iconTemplate %}
                    <div class="input-b__icon">
                        {% include iconTemplate %}
                    </div>
                {% endif %}

                <div class="input-b__indicator"></div>
            </div>

        </label>
    </div>
{% endmacro %}

{{input(name, type, label, placeholder, iconTemplate, withPaddingTop)}}