{% macro search() %}
    <div class="search messanger__search">
        <label class="search__label">
            <input type="text" class="search__input" placeholder=" ">
            <div class="search__placeholder">
                {% include 'icons/search.tmpl.njk' %}
                <span class="search__span">Search</span>
            </div>
        </label>
    </div>
{% endmacro %}