{% macro settingsHeader(header = '', canReturnBack = false) %}
    <div class="settings-header">
        <div class="settings-header__left">
            {% if canReturnBack %}
                <button class="settings-header__back-icon btn-icon" onclick="back">
                    {% include 'icons/arrow-back.tmpl.njk' %}
                </button>
            {% endif %}

            <h2 class="h2">{{header}}</h2>
        </div>

        <button class="settings-header__close-icon btn-icon" onclick="close">
            {% include 'icons/close.tmpl.njk' %}
        </button>
    </div>
{% endmacro %}

{{settingsHeader(header, canReturnBack)}}