<main id="root" class="container container_center">
    <div class="error noselect">
        <p class="error__code">500</p>
        <p class="error__description">SORRY...</p>
        <p class="error__description">INTERNAL SERVER ERROR</p>
    </div>
</main>