{% from "components/input.tmpl.njk" import input %}
{% from "components/btn.tmpl.njk" import btn %}
{% from "components/brief-information.tmpl.njk" import briefInformation %}
{% from "components/settings-list.tmpl.njk" import settingsList %}
{% from "components/settings-header.tmpl.njk" import settingsHeader %}

<div class="modal">
    <div class="modal__container">
        {{name}}
        <div class="settings" id="editInformationBlock">
            {% set isSettingsListBlock = currentBlock === settingsViewingTypes.SETTINGS_LIST %}
            {% set isEditInformationBlock = currentBlock === settingsViewingTypes.EDIT_INFORMATION_BLOCK %}
            {% set isChangePasswordBlock = currentBlock === settingsViewingTypes.CHANGE_PASSWORD_BLOCK %}

            <ng-container data-componentsids="{{settingsHeaderId}}"></ng-container>

            <div class="settings__brief-information">
                <ng-container data-componentsids="{{briefInformationComponentId}}"></ng-container>
            </div>

            {% if isSettingsListBlock %}
                <div class="settings__settings-list">
                    {{settingsList(renderingSettingsList)}}
                </div>
            {% endif %}

            {% if isEditInformationBlock %}
                <div class="settings__divider"></div>

                <div class="settings__form">
                    <ng-container data-componentsids="{{editingProfileFormId}}"></ng-container>
                </div>
            {% endif %}

            {% if isChangePasswordBlock %}
                <div class="settings__divider"></div>

                <div class="settings__form">
                    <ng-container data-componentsids="{{changePasswordFormId}}"></ng-container>
                </div>
            {% endif %}
        </div>

    </div>
    <div class="modal__overlay"></div>
</div>