{% from "components/input.tmpl.njk" import input %}
{% from "components/btn.tmpl.njk" import btn %}
{% from "components/brief-information.tmpl.njk" import briefInformation %}
{% from "components/settings-list.tmpl.njk" import settingsList %}
{% from "components/settings-header.tmpl.njk" import settingsHeader %}

<div class="modal">
    <div class="modal__container">
        <div class="settings" id="editInformationBlock">
            {% set isSettingsListBlock = currentBlock === settingsViewingTypes.SETTINGS_LIST %}
            {% set isEditInformationBlock = currentBlock === settingsViewingTypes.EDIT_INFORMATION_BLOCK %}
            {% set isChangePasswordBlock = currentBlock === settingsViewingTypes.CHANGE_PASSWORD_BLOCK %}

            <ng-container data-componentsids="{{settingsHeaderId}}"></ng-container>

            <div class="settings__brief-information">
                <ng-container data-componentsids="{{briefInformationComponentId}}"></ng-container>
            </div>

            {% if isSettingsListBlock %}
                <div class="settings__settings-list">
                    {{settingsList(renderingSettingsList)}}
                </div>
            {% endif %}

            {% if isEditInformationBlock %}
                <div class="settings__divider"></div>

                <form id="editForm" class="settings__form" onsubmit="editProfile">
                    <ng-container data-componentsids="{{editProfileComponentsIds}}"></ng-container>

                    <div class="settings__form-btn">
                        <ng-container data-componentsids="{{editProfileButtonId}}"></ng-container>
                    </div>
                </form>
            {% endif %}

            {% if isChangePasswordBlock %}
                <div class="settings__divider"></div>

                <form id="changePasswordForm" class="settings__form" onsubmit="changePassword">
                    <ng-container data-componentsids="{{changePasswordComponentsIds}}"></ng-container>

                    <div class="settings__form-btn">
                        {{ btn(text = 'Save') }}
                    </div>
                </form>
            {% endif %}
        </div>

    </div>
    <div class="modal__overlay"></div>
</div>