<main class="auth-b">
    <div class="auth-b__gradient">
        <div class="auth-b__container container">
            <div class="auth-b__form-container container container_center">
                <h1 class="auth-b__h1 h1">Sign Up</h1>

                <div class="auth-b__form">
                    <ng-container data-componentsids="{{secondStepFormId}}"></ng-container>
                </div>

                <div class="auth-b__sign-up-link">
                    <span>Or</span>
                    <a class="link" href="/static/login.html">Login</a>
                </div>
            </div>
        </div>
    </div>
</main>