<div class="brief-information" onclick="click">
    <div class="brief-information__avatar">
        <ng-container data-componentsids="{{avatarComponentId}}"></ng-container>

        {% if selected %}
            <div class="brief-information__tick">
                {% include 'static/icons/done.tmpl.njk' %}
            </div>
        {% endif %}
    </div>
    <div class="brief-information__text">

        {% if displayedNameInput %}
            <form class="brief-information__name-wrapper" onsubmit="changeName">
                <input name="displayNameInput" type="text" value="{{name}}" class="brief-information__name-input" required="required"/>

                <button class="btn-icon brief-information__apply-btn" submit="submit">
                    {% include 'static/icons/done.tmpl.njk' %}
                </button>
            </form>
        {% else %}
            <div class="brief-information__name-wrapper">
                <p class="brief-information__name">{{name}}</p>

                {% if canChangeName %}
                    <button class="btn-icon brief-information__edit-btn" onclick="showNameInput">
                        {% include 'static/icons/pencil.tmpl.njk' %}
                    </button>
                {% endif %}
            </div>
        {% endif %}

        {% if lastVisit %}
            <p class="brief-information__visit-info">{{lastVisit}}</p>
        {% endif %}
    </div>
</div>