.badge {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  border-radius: 10px;

  background: #4c4cbe;

  font-weight: 500;
  font-size: 11px;

  color: #fff;
}
