.brief-information {
    display: flex;
}

.brief-information__text {
    margin: auto 0;
}

.brief-information__avatar {
    margin-right: 22px;
}

.brief-information__name {
    font-weight: 500;
    color      : var(--form-color-light);

    line-height: 24px;
}

.brief-information__name-wrapper {
    display    : flex;
}

.brief-information__visit-info {
    font-size  : 14px;
    font-weight: 300;
    color      : var(--form-color-normal);

    line-height: 21px;
}