.btn {
    height: 48px;
    width : 100%;

    filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.24));

    background-color: var(--color-primary);
    border          : none;
    border-radius   : 32px;

    font-family   : inherit;
    font-weight   : 600;
    font-size     : 16px;
    color         : #fff;
    text-transform: uppercase;

    outline: none;
    cursor : pointer;
}

.btn_size_normal {
    width: 276px;
}

.btn-icon {
    display    : flex;
    align-items: center;
    cursor     : pointer;
}

.btn-icon_hidden {
    display: none;
}