body {
    height: 100vh;

    font-family: var(--font-family);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select  : none;
    -khtml-user-select   : none;
    -moz-user-select     : none;
    -ms-user-select      : none;
    user-select          : none;
}

.error {}

.error__code {
    text-align: center;

    font-family: var(--font-family);
    font-size  : 35.5vmin;
    font-weight: 600;

    background             : linear-gradient(rgba(185, 0, 255, 0.5), rgba(0, 168, 255, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.error__description {
    text-align: center;

    font-family: var(--font-family);
    font-size  : 10vmin;
    font-weight: 600;

    color: #D6D6D6;

    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2) inset; */
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: bold;

    color: #000000;
}

.h1 {
    font-size  : 39px;
    line-height: 58px;
}

.h2 {
    font-size  : 25px;
    line-height: 37px;
}

.link {
    color          : var(--link-color);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

button {
    padding: 0;

    border    : none;
    background: none;
    outline   : none;

    font-family: var(--font-family);
}

.hidden {
    display: none !important;
}

.scrollbar {
    max-height: 100%;
    overflow-y: auto;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    background-color  : #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
    width           : 4px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(66, 63, 99, 0.2);
}