.input-b {
    max-width: 360px;
    width    : 100%;
    height   : 72px;

    &_default-pd_top {
        padding-top: 32px;
    }

    &__label {
        font-weight: 300;
        font-size  : 14px;
        line-height: 21px;

        color: var(--form-color-normal);
    }

    &__icon {
        display: flex;
    }

    &__icon svg path {
        fill      : var(--form-color-light);
        transition: fill .3s ease-out;
    }

    &__input {
        width: 100%;

        padding-left: 6px;

        font-family: inherit;
        font-size  : 16px;
        color      : var(--form-color-normal);
        outline    : none;

        border: none;

        &:focus:not(.dirty)~.input-b__indicator,
        &.valid:focus~.input-b__indicator,
        &.valid.dirty~.input-b__indicator {
            width: 100%;
        }

        &:focus:not(.dirty)+.input-b__icon svg path,
        &.valid:focus+.input-b__icon svg path,
        &.valid.dirty+.input-b__icon svg path {
            fill: var(--color-primary);
        }

        &.dirty.invalid+.input-b__icon svg path,
        &.touched.invalid+.input-b__icon svg path {
            fill: red !important;
        }

        &.dirty.invalid~.input-b__indicator,
        &.touched.invalid~.input-b__indicator {
            background-color: red !important;
            width           : 100%;
        }

        &.dirty.invalid~.input-b__error,
        &.touched.invalid~.input-b__error {
            display: inline;
        }
    }


    &__error {
        position: absolute;
        bottom  : -20px;

        display: none;
        color  : red;
    }

    &__input::placeholder {
        font-weight: 500;
        font-size  : 16px;
        line-height: 24px;

        color: var(--form-color-light);
    }

    &__line {
        display        : flex;
        flex-direction : row-reverse;
        align-items    : center;
        justify-content: flex-end;

        position: relative;

        height: 47px;

        margin-top: 5px;
    }

    &__line::after {
        content: '';
        width  : 100%;
        height : 1px;

        background-color: var(--form-color-light);

        position: absolute;
        bottom  : 0;
    }

    &__indicator {
        position: absolute;
        bottom  : 0;
        z-index : 1;

        width : 0%;
        height: 2px;

        transition: width .3s ease-out;

        background-color: var(--color-primary);

        position: absolute;
        bottom  : 0;
    }
}