:root {
    --settings-divider-color: #ECE9FA;
}

.settings {
    width: 430px;
}

.settings-header {
    display        : flex;
    justify-content: space-between;

    height: 38px;

    margin: 17px 25px 0 25px;
}

.settings-header__left {
    display: flex;
}

.settings-header__back-icon {
    margin: 0 13px 0 -5px;
}

.settings__brief-information {
    margin: 37px 34px 20px 34px;
}

.settings__divider {
    width : 100%;
    height: 7px;

    background-color: var(--settings-divider-color);
}

.settings__form {
    display       : flex;
    flex-direction: column;
    align-items   : center;

    margin-top: 20px;
}

.settings__form-btn {
    margin: 42px 0;
}

.settings__settings-list {
    margin-bottom: 27px;
}

.settings-list__li {
    height: 43px;

    border-bottom: 7px solid var(--settings-divider-color);
}

.settings-list__li:first-of-type {
    border-top: 7px solid var(--settings-divider-color);
}

.settings-list__button {
    display    : flex;
    align-items: center;

    width : 100%;
    height: 100%;

    padding-left: 38px;

    cursor: pointer;
}

.settings-list__icon {
    margin-right: 26px;

    width: 24px;
}

.settings-list__span {
    font-weight: 500;
    font-size  : 16px;

    color: var(--form-color-normal);
}