:root {
  --color-primary: #7269ff;
  --color-error: #fa4251;
  --form-color-light: #7f7f7f;
  --form-color-normal: #333333;
  --link-color: #666666;
  --btn-bg-primary: var(--color-primary);
  --btn-color-primary: #fff;
  --header-color: #000;

  --font-family: Poppins, 'Open Sans';
  --settings-divider-color: #ece9fa;
}