<div class="edit-chat-users">
    <div class="edit-chat-users__search-user">
        <ng-container data-componentsids="{{searchUserId}}"></ng-container>
    </div>

    <div class="edit-chat-users__selected-users-wrapper">
        <ng-container data-componentsids="{{selectedUsersListId}}"></ng-container>
    </div>

    <div class="edit-chat-users__users">
        <div class="scrollbar edit-chat-users__users-scrollbar">
            <ng-container data-componentsids="{{usersListId}}"></ng-container>
        </div>
    </div>

    <div class="edit-chat-users__create-btn">
        <ng-container data-componentsids="{{createBtnId}}"></ng-container>
    </div>
</div>