{% if mappedItems.length %}
    <ul class="menu">
        {% for item in mappedItems %}
            <li class="menu__li">
                <button class="menu__button" data-index="{{item.index}}" onclick="click(index)">
                    {% if item.iconTemplate %}
                        <div class="menu__icon">
                            {% include item.iconTemplate %}
                        </div>
                    {% endif %}

                    <span class="menu__span">{{item.title}}</span>
                </button>
            </li>
        {% endfor %}
    </ul>
{% endif %}
